<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
      
        <%= form_for(@user, url: user_path(@user), html: {method: "patch"}) do |f| %>
          <%= f.label :name %><br>
          <%= f.text_field :name %>

          <%= f.label :image %>
          <%= f.file_field :image %>

          <%= f.label :email %>
          <%= f.email_field :email %>
          <%= f.submit '保存' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
