<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_for(@user, url: users_path) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :email %>
          <%= f.text_field :email %>
          <%= f.label :user_group %>
          <%= f.select :user_group, {"イベンター" => "eventer", "DJ" => "dj"} %>
          <%= f.label :password %>
          <%= f.password_fierd :password %>

          <%= f.submit '登録' %>
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>
