<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <p><%= @user.user_group %></p>
      <img src="https://s3-ap-northeast-1.amazonaws.com/user-image-events/<%= @user.image_name %>"></img>
      <br>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
  </div>
</div>
