<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "https://s3-ap-northeast-1.amazonaws.com/user-image-events/#{@user.image_name}" %>">

        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <div class="post-title">
        <%= @post.content %>
      </div>
      <h3>
      <%= @post.message %>
      </h3>

      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if  @set_current_user == @user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
